/* +-+-+-+-+ +-+-+-+-+-+-+-+-+-+ +-+-+-+-+              
  |V|A|S|T| |C|H|A|L|L|E|N|G|E| |2|0|1|7|              
  +-+-+-+-+ +-+-+-+-+-+-+-+-+-+ +-+-+-+-+              
  PETER VAN TWUYVER, 10872809
  MINOR PROGRAMMEREN UVA 2017
  +-+-+-+-+ +-+-+-+-+-+-+-+-+-+ +-+-+-+-+  */
body {
	background-color: whitesmoke
}
/*div placeholders inline */
#holder {
    border: 0px solid blue;
}
#calendar {
    display: inline-block;
        border: 1px solid green;
;
}
#linechart {
    display: inline-block;

}

/* Linechart*/
.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

